#Django
SECRET_KEY=
DEBUG=false
ALLOWED_HOSTS=example.com,www.example.com,localhost,127.0.0.1
FRONTEND_URL=https://example.com

#PostgreSQL
DB_NAME=dealership
DB_USER=dealership
DB_PASSWORD=
DB_HOST=postgres
DB_PORT=5432

#Redis+Celery
REDIS_URL=redis://redis:6379/0
CELERY_CONCURRENCY=4

#Gunicorn
GUNICORN_BIND=0.0.0.0:8000
GUNICORN_WORKERS=4
GUNICORN_THREADS=4
GUNICORN_WORKER_CLASS=sync
GUNICORN_TIMEOUT=60
GUNICORN_ACCESS_LOG=-
GUNICORN_ERROR_LOG=-
GUNICORN_LOG_LEVEL=info

#Email
EMAIL_USE_SMTP=true
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@example.com

#Scaling
WEB_REPLICAS=2
CELERY_WORKER_REPLICAS=1
