SECRET_KEY=
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1
FRONTEND_URL=http://localhost:8000

DB_NAME=dealership
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379/0

EMAIL_USE_SMTP=false
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@dealership.local
